/* Button styles */
div[data-testid="stColumn"] {
  width: fit-content !important;
  flex: unset;
}
div[data-testid="stColumn"] * {
  width: fit-content !important;
}

/* Description box styles */
.description-box {
  background-color: #a9a9a9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
